<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Artículos Faltantes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <style>
        .titulo {
            margin-left: -14px;
            margin-top: 10px;
        }
        .separador {
            border: none;
            height: 1px;
            background-color: #0a0a0a;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<!-- Header  -->
<header th:replace="Home :: header"> </header>

<!-- Contenido -->
<div class="container">
    <div class="row titulo">
        <h2>Artículos Faltantes</h2>
    </div>
    <hr th:fragment="separador" class="separador">
    <br>
    <div class="row">
        <div class="col-md-4">
            <a th:href="@{/maestroarticulo}" class="btn btn-secondary"><i class="bi bi-arrow-left-circle"></i> Ir a maestro articulo</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Stock</th>
            <th scope="col">Cantidad en preparacion</th>
            <th scope="col">Stock de Seguridad</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="articulo : ${articulosFaltantes}">
            <td th:text="${articulo.id}"></td>
            <td th:text="${articulo.nombreArticulo}"></td>
            <td th:text="${articulo.stock}"></td>
            <td th:text="${articulo.cantidadPreparacion}"></td>
            <td th:text="${articulo.stockSeguridad}"></td>
            <td>
                <a th:href="@{/ordenCompra/form/{articuloId}(articuloId=${articulo.id})}" class="btn btn-primary">Nueva Orden de Compra</a>
                <form th:action="@{/ordenCompra/crearAutomatica/{articuloId}(articuloId=${articulo.id})}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-warning">Cargar Orden Compra Automática</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
