<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css" rel="stylesheet">

<body style="display: flex; flex-direction: column; min-height: 100vh;">
<!-- Header  -->
    <header th:fragment="header">
        <nav class="navbar navbar-light navbar-expand-lg"  style="background-color: #e9ecef; padding-top: 0.5rem; padding-bottom: 0.5rem;">
            <div class="container-fluid">
                <a class="navbar-brand fs-2" th:href="@{/home}"><i class="bi bi-house"></i></a> <!-- Añadir icono de casa -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link fs-6" aria-current="page" th:href="@{/maestroarticulo}">Articulos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-6" th:href="@{/venta/listadoVentas}">Ventas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-6" th:href="@{/ordenCompra}">OrdenesCompra</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

<!-- Contenido -->

    <div class="container">
        <div class="col-12 text-center pt-3">
            <h2>¡Bienvenido!</h2>
            <p class="lead">Acceda a las distintas secciones</p>
        </div>
        <div class="container col-6 justify-content-center align-items-center">
            <div class="mt-3 text-center">
                <div class="card">
                    <div class="card-body">
                        <a th:href="@{/maestroarticulo}" class="btn btn-primary"><i class="bi bi-archive"></i> Acceder a Artículos</a>
                    </div>
                </div>
            </div>

            <div class="mt-3 text-center">
                <div class="card">
                    <div class="card-body">
                        <a th:href="@{/venta/listadoVentas}" class="btn btn-primary"><i class="bi bi-cart"></i> Acceder a ventas</a>
                    </div>
                </div>
            </div>

            <div class="mt-3 text-center">
                <div class="card">
                    <div class="card-body">
                        <a th:href="@{/ordenCompra}" class="btn btn-primary"><i class="bi bi-clipboard2-check"></i> Acceder a ordenes de compra</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container pt-4">
        <div class="col-12 text-center pt-3">
            <p class="lead">Acceda a las subsecciones</p>
        </div>
        <div class="container row-12 justify-content-center align-items-center d-flex flex-wrap">
            <div class="mt-3 text-center ms-5 col-lg-3 ">
                <div class="card">
                    <div class="card-body">
                        <a th:href="@{/familiaarticulo}" class="btn btn-success"><i class="bi bi-stickies"></i> Acceder a Familia de Artículos</a>
                    </div>
                </div>
            </div>

            <div class="mt-3 text-center ms-5 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <a th:href="@{/proveedor/listado}" class="btn btn-success"><i class="bi bi-person-lines-fill"></i> Acceder a Proveedores</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

<br>
<br>
<br>
<br>
<br>

<!-- Footer  -->
    <footer th:fragment="footer" style="background-color: #343a40; color: white; text-align: center; padding: 20px; margin-top: 20px;">
        <div class="container">
            <p>&copy; 2024. La casa se reserva todos los derechos de aprobar.</p>

        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl6v0R2e8B2N5l8e2pF7BZw06rK6+BlYj0uJ96U2+IhHB5uwI7l8b6mq7K9" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGnv3DL0m3pK5G3t+lgI6AKAxM5KzTp2mG9Uu6l5L1pkk+VPxg/FbEpur1y" crossorigin="anonymous"></script>

</body>
</html>