<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modificar Proveedor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css" rel="stylesheet">

</head>
<body>
    <!-- Header  -->
    <header th:replace="Home :: header"> </header>

    <!-- Contenido  -->
    <div class="container mt-4">
        <div class="row">
            <h2> Modificar Proveedor</h2>
        </div>
    </div>

    <div class="container mb-4">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <div class="card-body">
                    <form th:action="@{/proveedor/actualizar/{id}(id=${proveedor.id})}" th:object="${proveedor}" method="POST">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" name="nombre" th:field="*{nombreProveedor}" class="form-control">
                        </div><br>
                        <div class="form-group">
                            <label>Costo Pedido</label>
                            <input type="text" name="costo Pedido" th:field="*{costoPedido}" class="form-control">
                        </div><br>

                        <div class="box-footer mb-4">
                            <button class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>