<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Proveedor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<!-- Header  -->
<header th:replace="Home :: header"> </header>

<div class="container mt-4">
    <h2>Nuevo Proveedor para Artículo: <span th:text="${articulo.nombreArticulo}"></span></h2>
    <form th:action="@{/articulo/{articuloId}/proveedor/guardar(articuloId=${articulo.id})}" method="post" th:object="${articulo}" >
        <div class="mb-3">
            <input type="hidden" th:field="*{id}" th:name="${'articuloId'}" id="articuloSelect">
            <label for="nombreProveedor" class="form-label">Nombre del Proveedor</label>
            <input type="text" class="form-control" id="nombreProveedor" name="nombreProveedor" required>
        </div>
        <div class="mb-3">
            <label for="costoPedido" class="form-label">Costo del Pedido</label>
            <input type="number" step="0.01" class="form-control" id="costoPedido" name="costoPedido" required>
        </div>
        <div class="mb-3">
            <label for="fechaVigencia" class="form-label">Fecha de Vigencia</label>
            <input type="date" class="form-control" id="fechaVigencia" name="fechaVigencia"  required>
        </div>
        <div class="mb-3">
            <label for="precioArticuloProveedor" class="form-label">Precio del Artículo</label>
            <input type="number" step="0.01" class="form-control" id="precioArticuloProveedor" name="precioArticuloProveedor"  required>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="predeterminado" name="predeterminado" onchange="verificarPredeterminado()">
            <label class="form-check-label" for="predeterminado">
                Predeterminado
            </label>
        </div>
<!--        <div class="mb-3" id="cantidadPredeterminadaDiv" style="display: none;">-->
<!--&lt;!&ndash;ACA IRIA EL LOTE OPTIMO&ndash;&gt;-->
<!--            <label for="cantidadPredeterminada" class="form-label">Cantidad Predeterminada</label>-->
<!--            <input type="number" class="form-control" id="cantidadPredeterminada" name="cantidadPredeterminada">-->
<!--        </div>-->
        <div class="mb-3">
            <label for="tiempoDemora" class="form-label">Tiempo de Demora</label>
            <input type="number" class="form-control" id="tiempoDemora" name="tiempoDemora" required>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
    <!-- Modal de error -->
    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Error</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Ya existe un proveedor predeterminado para este artículo.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
<script th:inline="javascript">
    function verificarPredeterminado() {
        if (document.getElementById('predeterminado').checked) {
            var articuloId = document.getElementById('articuloSelect').value;

            $.ajax({
                url: `/ordenCompra/articulo/${articuloId}/predeterminado`,
                method: 'GET',
                success: function(articuloProveedor) {
                    if (articuloProveedor){
                        var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
                        errorModal.show();
                        // Desmarcar el checkbox
                        document.getElementById('predeterminado').checked = false;
                    }else {
                        // Mostrar el campo cantidadPredeterminada
                        cantidadPredeterminadaDiv.style.display = 'block';
                    }
                },
                error: function() {
                    alert('Error al verificar el proveedor predeterminado.');
                }
            });
        }
//        } else {
//            // Ocultar el campo cantidadPredeterminada
//            cantidadPredeterminadaDiv.style.display = 'none';
//        }
    }

    //Esta funcion "esccuha" al evento de checkbox, en el caso de que no lo haya chequeado, inicializa el valor en 0, esto para evitar problemas de tipo nulos
    //SE DESCOMENTARA EN CASO DE QUE TENGAMOS ERROR CON LOS NULOS
//    function handleSubmit(event) {
//        const predeterminadoCheckbox = document.getElementById('predeterminado');
//        const cantidadPredeterminadaInput = document.getElementById('cantidadPredeterminada');
//
//        if (!predeterminadoCheckbox.checked) {
//            // Asignar valor nulo a cantidadPredeterminada si no está marcado
//            cantidadPredeterminadaInput.value = null;
//        }
//
//        return true;
//    }
</script>


</html>
